.page {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
  align-items: first baseline;
  padding: 24px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 50%;
  border: 1px solid #ccc;
  padding: 24px;
  gap: 16px;
  height: 70vh;
  overflow-y: scroll;
}

.title {
  margin: 0;
  font-size: 34px;
  color: black;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 400px;
}

.innerForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.input {
  padding: 12px;
  border: 1px solid gray;
  border-radius: 4px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.button {
  background-color: #3585ff;
  color: white;
  width: 200px;
  padding: 16px;
  border: none;
  font-size: 16px;
  border-radius: 4px;
  text-align: center;
}

.button:hover {
  background-color: #2575ff;
  cursor: pointer;
}

.table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

.th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 12px 8px;
  font-size: 18px;
  background-color: whitesmoke;
  position: sticky;
  top: 0;
}

.td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.modalCustom {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6);
  /* Black w/ opacity */
}

/* Modal Content */
.modalCustomContent {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 33%;
  min-height: 25%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}