.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.button {
    background-color: #3585FF;
    color: white;
    width: 200px;
    padding: 16px;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    text-align: center;
}

.button:hover {
    background-color: #2575FF;
    cursor: pointer;
}